<div class="banner-index" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path "dogbanner_sc5jqh"%>');">
  <div class="banner-content">
    <h1>Find a dog in your area</h1>
    <input type="text" name="q" id="q" class="form-control"/>

  </div>
</div>




<div class="container-index">
  <div class="row">
    <div class="col-xs-12 col-sm-2" id="facets">
      <div id="breed"></div>
      <div id="size"></div>
    </div>

    <div class="col-xs-12 col-sm-10" id="hits">
      <div class="row">
        <%  @dogs.each do |dog| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
          <%= link_to dog_path(dog) do %>
          <div class="dog-options">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( '<%= cl_image_path dog.photo_url %>' );">
                <h2><%= dog.name %></h2>
                <div class="card-category">

                  <h4><%= dog.breed %></h4>
                </div>

                <div class="location-wrap">
                <p><img class="avatar" id="card-user" src="http://www.fillmurray.com/g/60/60"></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                  <%= dog.location %></p>

                </div>
              </div>
          </div>
          <% end %>
          </div>
          <% end %>
      </div>
    </div>

  </div>
</div>



<% content_for(:after_js) do %>
<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

    var hitTemplate=' <div class="col-xs-12 col-md-6 col-lg-4"><a href="{{{url}}}"><div class="dog-options"><div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(\'{{{photo}}}\');">'+
    '<h2>{{{_highlightResult.name.value}}}</h2>'+
    '<div class="card-category"><h4>{{{_highlightResult.breed.value}}}</h4></div>'+
    '<div class="location-wrap">'+
    '<p><img class="avatar" id="card-user" src="http://www.fillmurray.com/g/60/60"></p>'+
    '<p><i class="fa fa-map-marker" aria-hidden="true"></i>'+
    '{{{_highlightResult.location.value}}}</p>'+
    '</div>'+
    '</div></div></a></div>';
    var search = instantsearch({
      appId: '<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>',
      apiKey: '<%= ENV['ALGOLIASEARCH_API_KEY_SEARCH'] %>',
      indexName: '<%= Dog.index_name %>',
      urlSync: true
    });

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#q',
        placeholder: 'Search for name or breed',
        autofocus: false,
        poweredBy: false
      })
      );
    search.addWidget(
      instantsearch.widgets.infiniteHits({
        container: '#hits',
        templates: {
          empty: 'No dogs found',
          item: hitTemplate
        },
        hitsPerPage: 9
      })
      );
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#breed',
        attributeName: 'breed',
        limit: 10,
        templates: {
          header: 'Breed'
        },
        cssClasses: {
          root: 'list-group',
          item: 'list-group-item',
          count: 'badge pull-right'
        }
      })
      );
    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#size',
        attributeName: 'size',
        templates: {
          header: 'Size'
        },
        cssClasses: {
          root: 'list-group',
          item: 'list-group-item',
          count: 'badge pull-right'
        }
      })
      );
    search.start();
  });
</script>

<% end %>


