<div class="container">
  <div class="row">
    <div class="col-xs-12"></div>
    <h1>Add Doggo</h1>
    <% if current_user.dogs.first.nil? %>
      <%= link_to "Complete Pup Profile later", dashboard_path %>
    <% end %>
    <hr>
      <%= simple_form_for(@dog) do |f| %>
      <%= f.input :name %>
      <%= f.input :breed %>
      <%= f.input :age %>
      <%= f.input :description %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit %>
      <% end %>
  </div>
</div>




