<h1>Now it´s getting serious</h1>
<p>Let´s get in touch with <%= dog.name %></p>

<%= simple_form_for [@request, @message], :url => requests_path do |f| -%>
  <%= @dog %>
  <%= f.input :content %>
  <%= f.submit "Submit your request" %>
<% end -%>
