<div class="banner small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path "dogbanner_sc5jqh" %>');">
  <div class="banner-content">
    <p><%= cl_image_tag "Waumessenger_kqkpoa", class: "avatar-request" %></p>

  </div>

</div>
</div>



<div class="container_messages">

  <div class="row">

      <div class="col-xs-12 col-md-4">
        <%= render "requests/info" %>

      </div>



      <div class="col-xs-12 col-md-8">
        <div class="request-form text-center">

        <h3><%= cl_image_tag "waumessenger_fav_i5qjox", class: "waumessage_img" %>Begin your conversation here</h3>

        <h3><%= cl_image_tag "waumessenger_fav_i5qjox", class: "waumessage_img" %>Your are talking to <%= @dog.user.email %></h3>
        <hr>
          <div class="message-info">

            <div class="row-info">
              <div class="col-xs-12 col-sm-4">
                <%= cl_image_tag "You_veilnt", class: "message_icons" %>
                <p>Tell the owner a little bit about yourself</p>
              </div>
              <div class="col-xs-12 col-sm-4">
                <%= cl_image_tag "experience_rxf2re", class: "message_icons" %>
                <p>What is your experience with dogs?</p>
              </div>
              <div class="col-xs-12 col-sm-4">
                <%= cl_image_tag "why_doggy_pbyatc", class: "message_icons" %>
                <p>What is the reason you chose <%= @dog.name %>?</p>
                <br><br><br>
              </div>
            </div>
          </div>






          <%= simple_form_for @request, method: "post" do |f| %>
            <%= text_field_tag :'request[messages_attributes][][content]', "", class: 'form-control textfield-big', placeholder: "Enter your text here" %>
            <%= f.input :dog_id, :as => :hidden %>
            <%= f.submit "Submit your request", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>




