<h1>Now it´s getting serious</h1>
<p>Let´s get in touch with <%= @dog.name %></p>

<%= simple_form_for @request, method: "post" do |f| %>
  <%# @request.messages.each do |message| %>
    <%#= f.simple_fields_for :messages_attributes, message do |m| %>
      <%#= m.input :content %>
    <%# end %>
  <%# end %>
  <%= text_field_tag :'messages_attributes[][content]' %>
  <%= f.input :dog_id, :as => :hidden %>
  <%= f.submit "Submit your request" %>
<% end %>

