<h1 class="text-center">You talking to <%= @request.dog.name %>*</h1>

<p class="text-center">*Well, it`s actually <%= @request.dog.name %>`s human assistant </p>

<div class="container">
  <div class="row">
   <div id="all-messages">
      <%= link_to "Go back to my requests", requests_path %>
      <%  @request_messages.each do |message| %>
          <%= render "messages/message", message: message %>
      <% end %>
    </div>
      <hr>
      <%= render "messages/form" %>
  </div>
</div>
<hr>

