<div class="banner-index" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path "dogbanner_sc5jqh"%>');">
  <div>
    <h1><%= current_user.first_name %>`s Dashboard</h1>
  </div>
  <br>
  <div>
    <%= link_to "Edit Profile", edit_user_registration_path(@user) %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1 class="text-center">My Requests</h1>
      <div>
        <% @requests.each do |request| %>
          <%= link_to request_path(request) do %>
            <div class="request">
              <img src="<%= request.dog.photo %>" alt="user" class="avatar-bordered">
              <h3><%= request.dog.name %></h3>
              <h4><%= request.messages.last.content %></h4>
              <p><%= request.messages.last.created_at %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3 class="text-center">My Profile</h3>
      <div>
        <%= image_tag @user.photo_url, class: "avatar-large" %>
        <h4><%= @user.first_name %> <%= @user.last_name %></h4>
        <p><%= @user.email %></p>
        <% if @user.aboutme %>
          <p>@user.aboutme</p>
        <% else %>
        <%= link_to "Add About You", edit_user_registration_path(@user) %></p>
        <% end %>
        <%= button_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-primary" %>
      </div>
    </div>


  </div>
</div>



