<div class="banner dashboard" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content text-center">
    <h1><%= t('.title') %> <%= @user.email %> </h1>
  </div>
</div>

<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1 class="dashboard">Profile Dashboard</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="profile text-center panel">
          <h2><%= t('.messages_title') %></h2>
          <!-- messages go here -->
        </div>
      </div>

      <div class="col-xs-6">
        <div class="profile-dogs text-center panel">
          <h2><%= t('.dogs_title') %></h2>
        </div>

        <div class="col-xs-12">
          <% @dogs.each do |dog| %>
            <div class="dog-profile">
              <div class="row">
                <div class="col-xs-6">
                  <%= image_tag "dogexample.jpg", class: "img-thumbnail" %>
                </div>
                  <h3><%= dog.name %>: <%= dog.breed %></h3>
                  <%= link_to "Manage Pup", edit_dog_path(id: dog.id), {class: "btn btn-primary"} %>
              </div>
            </div>
          <% end %>
            <div class="edit-dogs">
              <hr>

              <hr>
              <h5>Walk another dog</h5>
      </div>

      </div>
    </div>
  </div>
</div>



