<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="dashboard">Profile Dashboard</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="banner dashboard" style="background-image: url('<%= asset_path('puppers.jpg') %>');">
      <div class="banner-content text-center">
        <h2 style="font-size: 50px;"><%= t('.title') %> <%= @user.email %></h2>
      </div>
</div>

<div class="dashboard">

    <div class="row">
      <div class="col-xs-6">

      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="profile text-center panel">
          <h2><%= t('.messages_title') %></h2>
          <!-- messages go here -->
        </div>
      </div>

      <div class="col-xs-6">
        <div class="profile-dogs text-center panel">
          <h2><%= t('.dogs_title') %></h2>
        </div>

        <div class="col-xs-12">
          <% @dogs.each do |dog| %>
            <div class="dog-profile">
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <%= image_tag "dogexample.jpg", class: "img-thumbnail" %>

                  <div class="availability-class">
                    <h5>Select Availability:</h5>

                      <form action="<%= availability_dog_path(id: dog.id) %>">
                          <div class="checklist" style="display: inline-flex;">
                          <label><input type="checkbox" value="Weekdays" name="availability"> Weekdays </label>
                          <label><input type="checkbox" value="Weekends" name="availability"> Weekends </label>
                          <label><input type="checkbox" value="Vacations" name="availability"> Vacations </label>
                          </div>
                      </form>
                  </div>

                </div>
                <div class="col-xs-6 col-sm-6">
                  <h2><%= dog.name %></h2>
                  <h4><i><%= dog.breed %></i></h4>
                    <%= link_to "Manage Pup", edit_dog_path(id: dog.id), {class: "btn btn-primary btn-sm", id: "pup"} %>

                </div>
              </div>
            </div>
          <% end %>
          <hr>
            <div class="more-stuff">
              <%= link_to "Add a Doggo", new_dog_path, {class: "btn btn-primary"} %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



