
<div class="video_box">
 <div  class="embed-responsive embed-responsive-16by9 container-fluid">
  <div class="row">

    <video autoplay muted loop class="embed-responsive-item video-banner" id="autovid" width="100%" >
      <source src="<%=cl_video_path "Emma_a5kavt"%>">
    </video>
        <div class="videobanner text-center">
          <h1>Connecting dog lovers and dog owners</h1>
          <p class="text-center">to share the <i class="fa fa-heart" aria-hidden="true">
          </i> for dogs with locals</p>
        </div>

        <div class="banner-content">
        <% if user_signed_in? %>
          <a href="<%= dashboard_path %>" class="owner"><i class="fa fa-paw" aria-hidden="true"></i> I am a dog owner</a>
          <a href="<%= dogs_path %>" class="borrower"><i class="fa fa-blind" aria-hidden="true"></i>I want to borrow a dog</a>
        <% else %>
          <a href="<%= new_user_registration_path %>" class="owner"><i class="fa fa-paw" aria-hidden="true"></i> I am a dog owner</a>
          <a href="<%= dogs_path %>" class="borrower"><i class="fa fa-blind" aria-hidden="true"></i>I want to borrow a dog</a>
        <% end %>



        </div>
      </div>
    </div>
  </div>



    <div class="container text centered">
      <h2 class="text-center">How it works</h2>
      <br><br>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= cl_image_tag "create_account_qsd7nf", class: "venues" %>
          <p>Create a profile</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= cl_image_tag "Abonement_wau_unishm", class: "venues" %>
          <p>Choose a membership</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= cl_image_tag "shareyourlove_pa4bhb", class: "venues" %>
          <p>Share your love</p>
          <br><br><br>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <h2>Plenty of dogs are waiting for you</h2>
          <div class="map home">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @dog_locations %>&zoom=11&size=640x400&&scale=2&maptype=roadmap
          &markers=size:mid%7Ccolor:red%7C<%= @dog_locations %>&key=<%= ENV['GOOGLE_API_SERVER_KEY'] %>" alt="This is a map">
          </div>
        </div>
      </div>
    </div>


<% content_for(:after_js) do %>
 <script>
    window.doorbellOptions = {
        appKey: 'OHPnrsXahq8pU4ratdTsQvZ4avbow149xOAodrPGU3XUc9Xb58FbIHPm1Yl7qgZt'
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/6115?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
  </script>
<% end %>
