
<div class="video_box">
 <div  class="embed-responsive embed-responsive-16by9 container-fluid">
  <div class="row">

    <video autoplay muted loop class="embed-responsive-item video-banner" id="autovid" width="100%" >
      <source src="<%=cl_video_path "Emma_a5kavt"%>">
    </video>
        <div class="videobanner text-center">
          <h1>Meet your new four-legged friend</h1>
          <p class="text-center">borrow a dog <i class="fa fa-heart" aria-hidden="true">
          </i> near you</p>


          <div class="center">

          <a href="<%= dogs_path %>" class="borrower"><%= image_tag "button_home_4.png" %>Find a dog!</a>

        </div>


        </div>

      </div>
    </div>
  </div>



    <div class="container text-center">
      <h2 class="text-center">How we work</h2>
      <hr>

      <div class="row-icons">
        <div class="col-xs-12 col-sm-4">
          <%= cl_image_tag "create_account_qsd7nf", class: "venues" %>
          <p>Find a dog</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= cl_image_tag "Abonement_wau_unishm", class: "venues" %>
          <p>Connect with the owner</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= cl_image_tag "shareyourlove_pa4bhb", class: "venues" %>
          <p>Share your love</p>

        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
        <hr>
          <h2>Plenty of dogs are waiting for you</h2>
        </div>
      </div>
       <div class="map home", id="map">

      </div>
    </div>

    <% content_for(:after_js) do %>
     <script>
       $(document).ready(function() {
         var handler = Gmaps.build('Google');
         handler.buildMap({
          internal: { id: 'map' },
          provider: {
            scrollwheel: false
          }
          },
          function() {
           markers = handler.addMarkers(<%= raw @markers.to_json %>);
           handler.bounds.extendWith(markers);
           handler.fitMapToBounds();
           if (markers.length == 0) {
             handler.getMap().setZoom(2);
           } else if (markers.length == 1) {
             handler.getMap().setZoom(14);
           }
         });
       });
     </script>
    <% end %>












